# ===== WEB PUSH VAPID =====
VAPID_PUBLIC_KEY=BEB71-Y5e6eabl9QGVLHjw2SymrA-BaXo5MmWwXXIXqz4MYDpOKpuMAsL86W2g_tooOyOABW7Hmguj7y0nXuqH4
VAPID_PRIVATE_KEY=TGQ3Urq213mIBtU9QcjTlBXwQqcC-BLH3sygbr_50EQ

# ===== UPSTASH REDIS (sync cross-device) =====
UPSTASH_REDIS_REST_URL=https://xxxxxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ===== SÉCURITÉ =====
NOTIFY_KEY=rOZUzWbN5IPlbteRbsf6dqymvgO8bltmzQkTDEca
